@import './typography.scss';
@import './spacing.scss';

@mixin transition($property) {
-webkit-transition: $property;
-moz-transition: $property;
-o-transition: $property;
transition: $property;
}

body,html{
    margin: 0;
    padding: 0;
    height:100%;
    overflow: hidden;
}

#root, .App{
    height: 100%;
}

/* TOPNAV*/
.topNav{
  background-color: $primaryLight; 
    width:75%;
    position: absolute;
    z-index:800;
    -webkit-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.15);

   

        &__container{
            display: inline-flex;
            width: 100%;
        }
        &__logoContainer{
            background-color: $primaryDark
        }
        &__option{
            
            @include transition(flex 0.3s ease-out);
            cursor: pointer;
            display: inline-flex;
            padding: $mediumSpace 0;
            border-right: 1px solid $lshaded;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex:1
        }
        &__logoContainer{
            @extend .topNav__option;
            cursor: auto;
        }
        &__icon{
            margin-left: $mediumSpace;
            width: 25px;
            height: 25px;
        }
        &__search{
            margin-left: $mediumSpace;
            border:none;
        }
}
.activeOption{
    background-color: $primaryShaded;
}

//MAP
.mapContainer{
    height: 100%;
    width:100%;
    cursor: crosshair;
}
#map{
    height: 500px;
}
//largeTile
.largeTile{
    position: absolute;
    z-index: 661;
    height: 85%;
    top:70px;
    left:5%;
    display:flex;
    align-items: center;
    overflow: hidden;
    &__text{
        padding: $mediumSpace $interSpace;
        box-sizing: border-box;
    }
    &__tile{
        height:100%;
        width:580px;
        background-color:$primaryLight;
        border-bottom: 15px solid $primaryDark;
        -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__icons{
        display: flex;
        padding-top:$mediumSpace;
    }
    &__icon{
        height: 32px;
        margin-right: $smallSpace;
    }
    &__loader{
        display: block;
        width: 125px;
        height: 125px;
        margin: 250px auto 0 auto;
    }
}

.separator{
    margin: $mediumSpace 0;
    border: none;
    height: 1px;
    background-color: $lshaded;
}
.smallTiles{
    position: absolute;
    width: 290px;
    right: 50px;
    top:60px;
    height: 850px;
    overflow:hidden;
    &__container{
        @extend .largeTile;
        flex-direction: column;
        width:290px;
        left:0;
        top:0;
        right: 5%;
        height: 6700px;
        @include transition(transform 1.5s cubic-bezier(1,.05,.25,1));
    }
    &__text{
        padding: $smallSpace $mediumSpace;
    }
    &__tile{
        @extend .largeTile__tile;
        cursor: pointer;
        width: 290px;
        border-bottom: 7px solid $primaryDark;
        margin-bottom: $largeSpace;
        min-height: 393px;
        background-color: #e5e5e5;
        @include transition(background-color 0.15s ease-out);
        overflow-y: scroll;
        overflow-x: hidden;
        
        &:hover{
            background-color: $primaryLight
        }
    }
    &__icons{
        @extend .largeTile__icons;
        padding-top: $mediumSpace;
    }
    &__img{
        @extend .largeTile__img;
    }
    &__info{
        display: flex;
        justify-content: space-between;
    
    }
    &__icon{
        height: 23px;
        margin-right: $smallSpace;
    }
    &__iconL{
        height: 40px;
    }
}

.fade-enter{
    opacity: 0;
    transform: translateX(-25px)
  }
  /*koniec*/
  .fade-enter.fade-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition:  transform 500ms cubic-bezier(1,.05,.25,1), opacity 500ms ease-out;
  }
  .faded-enter{
    opacity: 0;
    padding-left: 50px;
  }
  /*koniec*/
  .faded-enter.faded-enter-active{
    opacity: 1;
    padding-left: 0;

    transition:  padding-left 500ms cubic-bezier(1,.05,.25,1), opacity 500ms ease-out;
  }

  /*MEDIA QUERIES*/

  @media screen and (max-width: $break-large) {
    .topNav{
        width: 65%;
    }
  }
  @media screen and (max-width: $break-medium) {
    .topNav{
        width: 100%
    }
  }
  @media screen and (max-height: $break-vertical) {
    .smallTiles{
        height: 400px;
        top: 100px;
    }
  }