@import './typography.scss';
@import './spacing.scss';

@mixin transition($property...) {
-webkit-transition: $property;
-moz-transition: $property;
-o-transition: $property;
transition: $property;
}

body,html{
    margin: 0;
    padding: 0;
    height:100%;
    overflow: hidden;
}

#root, .App{
    height: 100%;
}

/* TOPNAV*/
.topNav{
  background-color: $primaryLight; 
    width:75%;
    position: absolute;
    z-index:800;
    -webkit-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 18px 22px 0px rgba(235, 140, 140, 0.09);
    box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.15);

   

        &__container{
            display: inline-flex;
            width: 100%;
        }
        &__logoContainer{
            background-color: $primaryDark
        }
        &__option{
            
            @include transition(flex 0.3s ease-out);
            cursor: pointer;
            display: inline-flex;
            padding: $mediumSpace 0;
            border-right: 1px solid $lshaded;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex:1
        }
        &__logoContainer{
            @extend .topNav__option;
            cursor: auto;
        }
        &__icon{
            margin-left: $mediumSpace;
            width: 25px;
            height: 25px;
        }
        &__search{
            margin-left: $mediumSpace;
            border:none;
        }
        &__logo{
            height: 25px;
            
        }
}
.activeOption{
    background-color: $primaryShaded;
}

//MAP
.mapContainer{
    height: 100vh;
    width:100%;
    cursor: crosshair;
}
#map{
    height: 500px;
}
//largeTile
.largeTile{
    position: absolute;
    z-index: 661;
    height: 85%;
    top:70px;
    left:5%;
    display:flex;
    align-items: center;
    overflow: hidden;
    
    &__text{
        padding: $mediumSpace $interSpace;
        box-sizing: border-box;
    }
    &__tile{
        height:100%;
        width:580px;
        background-color:$primaryLight;
        border-bottom: 15px solid $primaryDark;
        -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.3);
        overflow-y:scroll;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__icons{
        display: flex;
        padding-top:$mediumSpace;
    }
    &__icon{
        height: 32px;
        margin-right: $smallSpace;
    }
    &__loader{
        display: block;
        width: 125px;
        height: 125px;
        margin: 250px auto 0 auto;
    }
    &__reset{
        background-color: $primaryLight;
        position: absolute;
        top:0;
        right:0;
        padding: $mediumSpace;
        cursor:pointer;
        z-index: 100;
        border: 1px solid $shaded;
    }
}

.separator{
    margin: $mediumSpace 0;
    border: none;
    height: 1px;
    background-color: $lshaded;
}
.smallTiles{
    position: absolute;
    width: 290px;
    right: 50px;
    top:60px;
    height: 850px;
    overflow:hidden;
    &__container{
        position: absolute;
        z-index: 661;
        
        display:flex;
        align-items: center;
        overflow: hidden;

        flex-direction: column;
        width:290px;
        left:0;
        top:0;
        right: 5%;
        height: 6700px;
        @include transition(transform 1.5s cubic-bezier(1,.05,.25,1));
    }
    &__text{
        padding: $smallSpace $mediumSpace;
    }
    &__tile{
        
        @extend .largeTile__tile;
        cursor: pointer;
        width: 290px;
        border-bottom: 7px solid $primaryDark;
        margin-bottom: $largeSpace;
        min-height: 393px;
        background-color: #e5e5e5;
        @include transition(background-color 0.15s ease-out);
        overflow-y: scroll;
        overflow-x: hidden;
        
        &:hover{
            background-color: $primaryLight
        }
    }
    &__icons{
        @extend .largeTile__icons;
        padding-top: $mediumSpace;
    }
    &__img{
        @extend .largeTile__img;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        word-wrap:anywhere;
    
    }
    &__icon{
        height: 23px;
        margin-right: $smallSpace;
    }
    &__iconL{
        height: 40px;
    }
}
.errorTile{
    padding: 75px $largeSpace $largeSpace $largeSpace;
    text-align: center;
    &__img{
        width: 60%;
        height: 60%;
        padding: $mediumSpace;
        
    }
}
.help{
    &__container{
        background: #000000AA;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateX(-30px);
        @include transition(opacity 300ms ease-out, transform 300ms ease-out);
    }
    &__switch{
        width: 20px;
        height: 20px;
    }
 
    &__tile{
        background: $primaryLight;
        width: 500px;
        height: 75vh;
        -webkit-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.09);
        -moz-box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.09);
        box-shadow: 0px 18px 22px 0px rgba(0,0,0,0.15);
        position: relative;
        overflow-y: scroll;
   
    }
    &__logo{
        margin: 15px 0 15px 15px;
        height: 30px;
    }
    &__optionLogo{
        width: 30px;
        margin-right: 13px;
    }
    &__option{
       display: flex;
       justify-content: flex-start;
       align-items: center;
       margin: 10px 0 5px 15px;
    }
    &__optionDesc{
        padding: 0px 25px;
    }
    &__innerButton{
        position: absolute;
        margin: 5px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        border: 1px solid $shaded;
        cursor: pointer;
        &:hover{
            background: #e9e9f0;
        }
    }
    &__outerButton{
      
            position: fixed;
            width: 23px;
            height: 23px;
            padding: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0;
            left: 0;
            border: 1px solid $primaryShaded;
            cursor: pointer;
                background: $primaryLight;
                &:hover{
                    background: #e9e9f0;
                }
            z-index: 900;
        
    }
    &__credits{
        text-align: right;
        padding: 25px;
        margin-top: 30px;
        font-size: 15px;
    }
}


  /*MEDIA QUERIES*/

  @media screen and (max-width: $break-large) {
    .topNav{
        width: 65%;
    }
  }
  @media screen and (max-width: $break-medium) {
    .topNav{
        width: 100%;
        &__logo{
            height: 15px;
            padding: 0 3px;
        }
        &__icon{
            margin: 0 5px;
        }
        &__optionName{
            display: none;
        }
        
    }
 


  
    
    
  }
  @media screen and (max-width: 640px) {
    .help{
        &__tile{
            width: 80%;
        }
    }
    .largeTile{
        width: 90%;
        &__stat{
            font-size:16px;
            margin-right: 5px;
        }
        &__icon{
            height: 23px;
            margin-right: 2px;
        }
    }

    .topNav__search{
        width: 80%;
    }
    .smallTiles{
        left: 15px;
        margin: 0 auto;
    }
 
    
  }
  @media screen and (max-height: $break-vertical) {
    .smallTiles{
        height: 400px;
        top: 100px;
    }
  }

  @import './TransitionGroup.scss';