/*TYPOGRAPHY*/
@import './spacing.scss';
$primaryFont: 'Open sans';
$secondaryFont: 'Montserrat';
$light: 300;
$regular: 400;
$bold: 700;

$lshaded: #d7d7d7;
$shaded: #c4c4c4;
$primaryDark: #2f3544;
$primaryLight: #f8f8f8;
$primaryShaded: #e9e9f0;

.primaryHeader{
    font-family: $primaryFont;
    color:$primaryDark;
    margin: 0;
    &--large{
        font-weight: $light;
        font-size: 32px;
    }
    &--slarge{
        font-weight: $light;
        font-size: 22px;
        padding-top: $smallSpace;
    }
    &--medium{
        font-weight: $regular;
        font-size: 19px;
        margin-right: $mediumSpace;
    }
    &--smedium{
        font-weight: $regular;
        font-size: 15px;
        margin-right: $mediumSpace;
    }
    &--small{
        @extend .primaryHeader--medium;
    }
    &--ssmall{
        font-weight: $light;
        font-size:13px;
        padding-bottom: $smallSpace;
    }
    &--shaded{
        font-weight: $light;
        font-size: 18px;
        color: $shaded ; 
    }
    &--sshaded{
        font-weight: $regular;
        font-size: 14px;
        color: $shaded;
    }
    &--temperature{
        font-family: $secondaryFont;
        color: #96daf0;
        font-size: 20px;
    }
    &--stemperature{
        font-family: $secondaryFont;
        color: #96daf0;
        font-size: 35px;
        padding-bottom: $mediumSpace;
    }
}
.secondaryHeader{
    margin: 0;
    font-family: $secondaryFont;
    font-weight: $regular;
    font-size: 18px;
    color: $primaryDark;
    text-transform: uppercase;
    &--logo{
        color:white;
    }
}
.primaryParagraph{
    font-family: $primaryFont;
    font-weight: $light;
    font-size:14px;
    color: $primaryDark;
    padding-bottom: $largeSpace;
}
.primaryParagraph{
    font-family: $primaryFont;
    font-weight: $light;
    font-size:14px;
    color: $primaryDark;
    padding-bottom: $largeSpace;
    &--small{
        @extend .primaryParagraph;
        font-size: 13px;
        padding: 0;
        margin: 0;
    }
}